a{
    text-decoration: none;
    color: #3F3F3F;

}
.navbar {
    width :100%;
    height:48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #E2E2E2;
}

.icon {
    margin: 15px;
    margin-left: 10px;
}
.navbarSpaceCosmos
{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    font-weight: 700;
    line-height: 19px;
    text-transform: uppercase;
}

.navbarSpaceCosmos:hover
{
    text-decoration: underline;
}

.newyorktimes_logo
{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.loginSub_Buttons {
    background-color:#567b95;
    display: flex;
    height: 70%;  
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #326891;
    margin-right: 6px;
}

.loginSub_Buttons:hover {
    background-color:  #326891;
}
.buttonAnchor
{
    margin-left: auto;
    margin-right: auto;
    padding-top: 2px;
    text-decoration: none;
    color: white;
    padding-top: 15px;
    font-size: 11px;
    line-height: 11px;
    font-weight: 700;
}
#subscribeBtn {
    width: 120px;
}

#loginBtn {
    width: 65px;
}

.mainSection {
    
}
.first-article-section{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    
}
.first-article-section img{
    height: auto;
    max-width: 100%;   
}
.first-article-section h1{
    font-size: 30px;
    text-align: left;
    margin-left: 300px;
    font-style: italic;
    font-weight: 700;
}
figcaption{
    color: #666;
    margin: 10px 20px 0;
    text-align: left;
    width: 70%;
}
.second-article-section{
    text-align: center;
    width: 55%;
    margin:5px auto 20px auto;

    

}
.second-article-section p {
    text-align: left;
    font-weight: 600;   
}
.article-icons{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;


}
.second-article-section-flex {
    display: flex;
    justify-content: space-between;
    height: 25px;
}
.article-icons-date{
    width: 300px;  
    text-align: left; 
}

.article-icons {
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}
.main-article-icons{
    margin-right: 20px;    
}
.article-icons-circular{
    width: 27px;
    height: 22px;
    position: relative;
    padding-top: 5px;
    border-radius: 50%;
    background-color: #E2E2E2;
}
.article-icons-circular:hover{
    background-color: #FFFFFF;
    border: 1px solid #E2E2E2;
}
.third-section-article{
    text-align: left;
    width: 55%;
    margin: auto;
}
.third-section-article p{
    width: 100%;
    font-size: 20px;
    line-height: 1.4em;
    font-weight: 530;
}
.horizontal-line{
    border-top: 1px solid #CCCCCC;
    width: 100px;
    margin: auto;
    text-align: center;
}
.centered-section{
    text-align: center;
    /* margin-bottom: 20px; */
    
    
}
.centered-section a{
    padding-top: 0;
    position: relative;
    bottom: 20px;
    color: #656891;
}
#centered-section-tags-anchor,
#centered-section-tags-para{
    font-weight: 600;
    font-size: medium;
}
.main-aside{
    width: 300px;
    height: 400px;
    display: flex
    flex-direction: column;
    
}
.aside-images{
    height: 75px;
    width: 75px;
}
.aside-information{

}



    

